:root {
  --first-color: white;
  --second-color: #484949;
  --third-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

header {
  min-height: 30vh;
  background-image: linear-gradient(rgba(3, 138, 161, 0.9), rgba(47, 165, 185, 0.9)), url(images/background.jpeg);
  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*menue*/
nav {
  background-color: var(--first-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: rgb(156, 154, 150);
  cursor: pointer;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

/*logo*/
.logo img {
  float: left;
  width: 30%;
  height: 50%;
  background-color: none;
  margin-right: 70%;
}

/*searcg bar*/
.box {
  position: absolute;
  top: 3.5vh;
  right: 3vh;
  height: 5vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 0;
  backdrop-filter: blur(4px) saturate(180%);
  background: var(--second-color);
  border-radius: 100vh;
  box-shadow: 0 1vh 4vh rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  margin-top: 5%;
  margin-right: 0.3%;
}

.box:hover input {
  width: 40vh;
  color: var(--first-color);
}

.search-bar a img {
  width: 40%;
  height: 50%;
  margin-left: 50%;

}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

/*grids*/
.container-3 {

  padding: 15px 9%;
  padding-bottom: 100px;
  margin-top: 1%;
}

.container-3 .heading {
  text-align: center;
  padding-bottom: 15px;
  color: var(--third-color);
  font-size: 350%;
}

.container-3 .boxx-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
  margin-top: 3%;
}

.container-3 .boxx-container-3 .boxx {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 3%;
  background: rgb(40, 153, 178);
  text-align: center;
  padding: 30px 20px;
  cursor: pointer;
}

.container-3 .boxx-container-3 .boxx:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.container-3 .boxx-container-3 .boxx img {
  height: 80px;
  margin-left: 35%;
  border-radius: 20px 20px 20px 20px;
}

.container-3 .boxx-container-3 .boxx h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.container-3 .boxx-container-3 .boxx p {
  color: var(--first-color);
  font-size: 15px;
  line-height: 1.8;
}

.container-3 .boxx-container-3 .boxx .btn {
  margin-top: 10px;
  display: inline-block;
  background: #2df7ed;
  color: #3a4042;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3%;
  padding: 8px 25px;
  display: inline-block;

}

.container-3 .boxx-container-3 .boxx .btn:hover {
  letter-spacing: 1px;
  color: black;
}



/*footer*/
footer {
  background-color: rgb(2, 52, 109);
  position: relative;
  width: 100%;
  min-height: 350%;
  padding: 3rem 1rem;
  margin-top: 5%;
}

.container1 {
  max-width: 114%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;



}

.row {
  display: flex;
  justify-content: space-between;

}

.col {
  min-width: 250px;
  color: #f2f2f2f2;
  font-family: poppins;
  padding: 0 2rem;
}

img .logo {
  width: 10000%;
  height: 50000%;
  margin-top: 15%;
  margin-right: 80%;
}

.col h3 {
  color: rgb(81, 221, 240);
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col h3::after {
  content: '';
  height: 3px;
  width: 0px;
  background-color: rgb(81, 221, 240);
  ;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;

}

.col h3:hover::after {
  width: 100%
}

.col .social a i {
  color: rgb(235, 19, 217);
  margin-top: 2rem;
  margin-right: 5%;
  transition: 0.3s ease;

}

.col .social a i:hover {
  transform: scale(2.5);

}

.col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}

.col .links a::before {
  content: '';
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: rgb(61, 183, 253);
  transition: 0.5s ease;
  opacity: 0;
}

.col .links a:hover::before {
  opacity: 1;
}

.col .contact-details {
  display: inline-flex;
  justify-content: space-between;
}

.col .contact-details i {
  margin-right: 0px;
}

/*back to top button*/
html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span {
  color: var(--first-color);
  font-size: 1rem;
  transition: 0.1s ease-in;
}

.back-to-top:hover {
  transform: scale(1.2);
}

.back-to-top:hover span {
  transform: translateY(-4px);
}

img.scroll {
  width: 60px;
  display: flex;

}

/*copyright statement*/
p.rights {
  color: var(--primary-color);
  margin-left: 39%;
}











/*media tags*/
@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }


  .sidebar {
    width: 100%;
  }

  .search-box button {
    position: fixed;
    width: 50%;
    margin: 0 auto;
  }

  section.why {
    position: absolute;
    width: 40%;
    height: 40%;
  }

  video {

    max-width: 90%;
    position: relative;
  }

  h2.flex {
    position: fixed;
  }
}
 /*footer*/

@media (max-width: 480px) {
  .why-content, .about-1, .boxx-container-2, .boxx-container1, .container4 {
    padding: 10px;
  }

  .boxx {
    flex: 1 1 100%;
  }

  .boxx h2, .boxx h5 {
    font-size: 14px;
  }

  .star i {
    font-size: 14px;
  }
}